In [12]:
import etherscan.accounts as accounts
import pandas as pd
import json

In [21]:
with open('api_key.json', 'r') as key_file:
    key = json.loads(key_file.read())['key']

In [22]:
address = '0x1d0DcC8d8BcaFa8e8502BEaEeF6CBD49d3AFFCDC'
api = accounts.Account(address=address, api_key=key)

In [46]:
transactions = api.get_all_transactions()

page 1 added
Total number of transactions: 1221

In [47]:
txs = pd.DataFrame(transactions, )

In [48]:
txs.head()

,blockHash,blockNumber,confirmations,contractAddress,cumulativeGasUsed,from,gas,gasPrice,gasUsed,hash,input,isError,nonce,timeStamp,to,transactionIndex,value
0,0xbb75a3fd9e354f3ef6b09b6b060e8f006d897ac04611...,3557583,35944,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,1782904,0xbe4e25443df23382228e6347b06565edd838f901,3000000,20000000000,1486054,0x4dbf95eb08cde01d46fcc0916c2da4adb7cd12eed473...,0x6060604052341561000c57fe5b6040516060806114cc...,0,48,1492522930,,8,0
1,0x0dd2c8dbb1e46138be002e767b1d1f316af6570629b7...,3557599,35928,,804554,0xbe4e25443df23382228e6347b06565edd838f901,3000000,20000000000,66720,0xb5b8d48d71ec74b7602ff455d9520d12ec1e97e410b3...,0x66d382030000000000000000000000006810e776880c...,0,54,1492523212,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,23,0
2,0xc173571b88c08c5d8e201ab27a2f76a9eff0dc74fbba...,3565092,28435,,875372,0xd68ba7734753e2ee54103116323aba2d94c78dc5,100000,20000000000,100000,0x19791ab4cf41525507c946bd407b4c89b8c39fa91f31...,0x9cf5453d,1,221,1492635307,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,26,1000000000000000
3,0x6336d4c65ad3e305d5c663b0c53eb7a6a0b48d8afb84...,3584469,9058,,29091,0xbb7cf0e2cbf768d1d5a38d6ce7b8ec9f5d844a9e,29091,20000000000,29091,0x776524bbb29ceca38f7624d850eae9c9938ff2b37a66...,0x9cf5453d000000000000000000000000000000000000...,1,111,1492922037,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,0,1000000000000000
4,0x5c444a8e4c889f8a228cc84e4be2d265f546cec24062...,3584491,9036,,1328552,0xbb7cf0e2cbf768d1d5a38d6ce7b8ec9f5d844a9e,100000,20000000000,100000,0xc66db20e8322f2e95500d33dd79b8469234cad7bcecf...,0x9cf5453d000000000000000000000000000000000000...,1,112,1492922443,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,17,1000000000000000

In [49]:
txs.value = txs.value.astype(float)
txs['value_eth'] = txs.value / 1000000000000000000

In [50]:
txs.head()

,blockHash,blockNumber,confirmations,contractAddress,cumulativeGasUsed,from,gas,gasPrice,gasUsed,hash,input,isError,nonce,timeStamp,to,transactionIndex,value,value_eth
0,0xbb75a3fd9e354f3ef6b09b6b060e8f006d897ac04611...,3557583,35944,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,1782904,0xbe4e25443df23382228e6347b06565edd838f901,3000000,20000000000,1486054,0x4dbf95eb08cde01d46fcc0916c2da4adb7cd12eed473...,0x6060604052341561000c57fe5b6040516060806114cc...,0,48,1492522930,,8,0.000000e+00,0.000
1,0x0dd2c8dbb1e46138be002e767b1d1f316af6570629b7...,3557599,35928,,804554,0xbe4e25443df23382228e6347b06565edd838f901,3000000,20000000000,66720,0xb5b8d48d71ec74b7602ff455d9520d12ec1e97e410b3...,0x66d382030000000000000000000000006810e776880c...,0,54,1492523212,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,23,0.000000e+00,0.000
2,0xc173571b88c08c5d8e201ab27a2f76a9eff0dc74fbba...,3565092,28435,,875372,0xd68ba7734753e2ee54103116323aba2d94c78dc5,100000,20000000000,100000,0x19791ab4cf41525507c946bd407b4c89b8c39fa91f31...,0x9cf5453d,1,221,1492635307,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,26,1.000000e+15,0.001
3,0x6336d4c65ad3e305d5c663b0c53eb7a6a0b48d8afb84...,3584469,9058,,29091,0xbb7cf0e2cbf768d1d5a38d6ce7b8ec9f5d844a9e,29091,20000000000,29091,0x776524bbb29ceca38f7624d850eae9c9938ff2b37a66...,0x9cf5453d000000000000000000000000000000000000...,1,111,1492922037,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,0,1.000000e+15,0.001
4,0x5c444a8e4c889f8a228cc84e4be2d265f546cec24062...,3584491,9036,,1328552,0xbb7cf0e2cbf768d1d5a38d6ce7b8ec9f5d844a9e,100000,20000000000,100000,0xc66db20e8322f2e95500d33dd79b8469234cad7bcecf...,0x9cf5453d000000000000000000000000000000000000...,1,112,1492922443,0x1d0dcc8d8bcafa8e8502beaeef6cbd49d3affcdc,17,1.000000e+15,0.001

In [51]:
txs.value_eth.sum()

161192.58269865107

In [60]:
wallet_api = accounts.Account(address="0x851b7F3Ab81bd8dF354F0D7640EFcD7288553419", api_key=key)

In [61]:
wallet_txs = wallet_api.get_all_transactions()

page 1 added
Total number of transactions: 4

In [62]:
import requests

In [65]:
req = requests.get(url='http://api.etherscan.io/api?module=account&action=txlistinternal&address=0x851b7F3Ab81bd8dF354F0D7640EFcD7288553419&sort=asc&apikey='+key)